@inherits LayoutComponentBase

<header>
    <HeaderMenu/>
</header>
<div class="page">

    <main class="mx-4 text-wrap border">
        
        <article class="content px-4 text-center">
            @Body
        </article>
    </main>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <p>some text</p>
    </div>
</footer>