<div class="text-wrap text-start">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquam blanditiis doloremque eos impedit in inventore obcaecati officiis praesentium, quod rem repellendus similique sint sunt? Maiores nihil possimus quisquam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, atque consectetur doloremque est exercitationem quam repellendus? Cupiditate ea et fugiat impedit iure laudantium nesciunt nobis praesentium quasi quod suscipit, veniam!</p>
    <p>Welcome to your new app.</p>
</div>