@using System.Text.Json
@inject IHttpClientFactory ClientFactory 
@inject IJSRuntime JsRuntime 
@rendermode RenderMode.InteractiveServer

@page "/item"
<PageTitle>hello page</PageTitle>

<h3>@item</h3>
<button @onclick="Get">Click me</button>
<button @onclick="Alert">Alert</button>
@code {

    string item = "hello world";

    int counter = 0;
    
    class VideoStatus
    {
        public Guid id { get; set; }
        public string? title { get; set; }
    }

    async Task Get()
    {
        var httpClient = ClientFactory.CreateClient();
        try
        {
            var response = await httpClient.GetAsync("https://localhost:7062/api/videostatuses");
            var r = await response.Content.ReadAsStringAsync();
            var obj = JsonSerializer.Deserialize<List<VideoStatus>>(r) ?? new List<VideoStatus>();
            item = obj[0].title ?? "null title";
        }
        catch(Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", ex.Message);
        }
    }

    async Task Alert()
    {
        await JsRuntime.InvokeVoidAsync("alert", $"You clicked {++counter} times");
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if(!firstRender) return;
    //         await JsRuntime.InvokeVoidAsync("alert", "hello!");
    // } 
}